<!-- views/partials/_header.ejs -->
<nav class="site-header navbar navbar-expand-md navbar-light bg-light rounded mt-2">
    <!-- Left Side -->
    <div class="navbar-brand"></div>
        <!-- Logo -->
        <img src="https://image.flaticon.com/icons/svg/3063/3063546.svg" alt="logo">
    </div>

    <div class="navbar-brand">
        <h2><a href="/urls">TinyApp</a></h2>
    </div>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Hamburger -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <% if(user) { %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item link-center">
                <a class="nav-link text-lg" href="/urls">My URLs</a>
            </li>
            <li class="nav-item link-center">
                <a class="nav-link text-lg" href="/urls/new">New URL</a>
            </li>
        <ul>
        <!-- Right Side -->
        <ul class="navbar-nav link-header">
            <li id="block" class="nav-item mt-8">
                <a class="nav-brand mr-4">Welcome, <strong><%= user.email %></strong></a>
            </li>
            <form method="POST" action="/logout">
                <button class="btn btn-secondary">Logout</button>
            </form>
        </ul>
        <% } else { %>
        <ul class="navbar-nav ml-auto">
            <li class="mr-3 nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
        <% } %>
    <div>
</nav>
