<!-- views/partials/_head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg" type="image/x-icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>TinyApp</title>

<style>
    img {
        width: 60px;
        height: 60px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    td {
        text-align: center;
    }

    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
    }

    #text-2xl {
        color: #222;
        text-align: center;
        margin-bottom: 3.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    #block {
        padding-top: 8px;
        display: block;
    }

    #card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-radius: 0.25rem;
        background-color: aliceblue;
    }

    #url {
        height: auto;
        margin: 0 auto;
        width: 50%;
        margin: 0 auto;
    }

    .content {
        position: fixed;
        top: 100px;
        bottom: 100px;
        left: 287px;
        right: 287px;
        overflow: auto;
    }

    .link-header {
        padding: 1.5rem 1.5rem 0 0;
    }

    .link-center {
        padding: 1.0rem 1.2rem;
    }

    .mt-3xl {
        margin-top: 3.5rem;
    }


    .text-lg {
        font-size: x-large;
        font-weight: 400;
    }

    .centercon {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .wraptitle {
        padding-top: 5px;
        margin-bottom: 18px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }
</style>
