<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head') %>
</head

<body>
    <header class="container">
        <%- include('partials/_header') %>
    </header>

    <main id="wrapper">
        <h3 id="text-2xl">Create TinyURL</h3>

        <div id="url" class="centercon">
            <form id="card" class="form-inline mt-4" action="/urls" method="POST">
                <div class="form-group mb-2">
                    <label for="longURL">Enter a URL:</label>
                    <input
                        class="form-control"
                        type="text"
                        name="longURL"
                        placeholder="http://"
                        required
                    >
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </main>

    <footer>
        <%- include('./partials/_footer') %>
    </footer>
</body>
</html>
