<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/_header') %>
    </header>

    <main>
        <h2>Variables</h2>

        <p><%= name %></p>

        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/_footer') %>
    </footer>

</body>

</html>
