<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body class="container">
    <header>
        <%- include('../partials/_header') %>
    </header>

    <main id="wrapper" class="rounded mt-1">
        <form id="card" method="POST" action="/login">
            <h1 id="text-2xl">Login</h1>

            <div class="form-group text-lg">
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    class="form-control rounded mt-1"
                    placeholder="Enter Email"
                    required
                />
            </div>

            <div class="form-group text-lg">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    name="password"
                    class="form-control rounded mt-1"
                    placeholder="Password"
                    required
                />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <footer id="footer">
        <%- include('../partials/_footer') %>
    </footer>
</body>
</html>
