<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_head') %>
</head>

<body class="container">
    <header>
        <%- include('../partials/_header') %>
    </header>

    <main id="wrapper">
        <form id="card" method="POST" action="/register">
            <h1 id="text-2xl">Register</h1>

            <div class="form-group">
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter email"
                    required
                >
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    required
                >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    <footer>
        <%- include('../partials/_footer') %>
    </footer>
</body>
</html>
